body {
    background-color: #DEDEDE;
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    margin-top: 5px;
    margin-bottom: 4px;
    font-family: Times, serif;
}

header {
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 2px;
}

footer {
    height: 5%;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    font-family: Times, serif;
}

footer h4 {
    margin-bottom: 2px;
}


section#principal {
    height: auto;
    text-align: center;
}

/*-----------------------------------------------
    Manejo del menu de seleccion
-------------------------------------------------*/
#btnCarga {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
}

.fset {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
}

#menu {
    font-family: Tahoma, sans-serif;
    font-size: 0.9em;
}

/*-----------------------------------------------
    Manejo de la tabla de preguntas
-------------------------------------------------*/
table { 
    width: 100%; 
    height: auto;
    border-collapse: collapse; 
    font-size: 0.8em;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
}

th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}

td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
    font-family: Tahoma, sans-serif;
}

tr:hover {
    background: #FFFACD;
}

tbody {
    overflow-y: auto; 
}

/*-----------------------------------------------
    Manejo de la popup para las respuestas
-------------------------------------------------*/

.lightbox .box {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width:500px;
    margin: 2% auto;
    margin-bottom: 2px;
    padding:20px;
    background-color:#FFFACD;
    box-shadow: 0px 1px 26px -3px #777777;
}

.lightbox .title {
    margin:0;
    padding:0 0 10px 0px;
    border-bottom:1px #ccc solid;
    font-size:1.1em;
}

.lightbox .content {
    display:block;
    padding:10px 0 0 0px;
    line-height:22px;
    font-family: Tahoma, sans-serif;
    font-size: 0.9em;
}

.lightbox {
    /** Hide the lightbox */
    display: none;
    /** Apply basic lightbox styling */
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color:#333333;
}

.lightbox:target {
    /** Show lightbox when it is target */
    display: block;
    outline: none;
}

#text {
    border: 1px solid black;
}

#btnCerrar {
    float: right;
}

#cbLabel {
    font-family: Tahoma, sans-serif;
    font-size: 0.9em;
    color: navy;
}

/*------------------------------------------------
    404 
--------------------------------------------------*/
#i404 {
    background-color: red;
}

#i404 p {
    /*background-image: url('../images/southpark.jpg');*/
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 3em;
    letter-spacing: 4px;
    color: black;
}